* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFF;
    font-family: "Catamaran", sans-serif;
    font-size: medium;
}


/********** HEADER **********/
#header{
    height: 420px;
    text-align: center;
    padding-top: 10%;
}
.bg-header{
	background-image: url("../imagens/bg_header.png");
	background-attachment: scroll;
	background-position: center bottom;
	background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.titulo a{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}


/********** MAIN **********/
#main{
    margin-top: -350px;
    padding-bottom: 20px;
}
.main{
    background-color: #FFF;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 4px;
}
.content{
    padding: 5%;
}
.article{
    margin: 2rem 0 1rem 0;
}

    /********** CONTENT HEADER (HAMBURGUER, TITULO, MENU) **********/
        .content header{
            position: relative;
        }
        .hamburguer {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            background: none;
            margin: 10px;
            margin-top: 5%;
        }
        .hamburguer:after, .hamburguer:before, .hamburguer span, .hamburguer label {
            content: ' ';
            display: block;
            width: 100%;
            height: 4px;
            background: #2a5caa;
            left: 0;
            position: absolute;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }
        .hamburguer:before {
            top: 0;
        }
        .hamburguer:after {
            bottom: 0;
        }
        .hamburguer:focus {
            outline: none;
        }
        .hamburguer label {
            width: 100%;
            height: 100%;
            background: none;
            cursor: pointer;
            z-index: 1000;
        }
        .hamburguer span {
            top: 8px;
        }
        #change-hamburguer {
            display: none;
        }
        #change-hamburguer:checked ~ .hamburguer:before, #change-hamburguer:checked ~ .hamburguer:after {
            top: 10px;
            margin-top: -10%;
        }
        #change-hamburguer:checked ~ .hamburguer:before {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        #change-hamburguer:checked ~ .hamburguer:after {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        #change-hamburguer:checked ~ .hamburguer span {
            opacity: 0;
        }#change-hamburguer:checked ~ .menu {
            max-height: 400px;
        }
        .menu {
            position: relative;
            max-height: 0;
            height: auto;
            background: #2a5caa;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            overflow: hidden;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 13px;
            width: 100%;
            border-radius: 2px;
        }
        .menu a {
            text-decoration: none;
            color: #fff;
            padding: 10px;
            display: block;
            text-transform: uppercase;
            border-left: 5px solid #000;
        }
        .menu a:hover {
            border-left: 5px solid #e57373;
            color: #e57373;
            background: #222;
        }
        h1 {
            position: relative;
            margin: -5% 0 10px 50px;
            margin-bottom: 10px;
            padding-top: 5%;
            padding-bottom: .75rem;
            font-weight: 700;
            text-decoration: none;
            font-family: "Catamaran", sans-serif;
            font-size: 1.5rem;
		    color: #2a5caa;
        }
    /**********/

    /********** CONTENT FOOTER **********/
        .content footer {
            text-align: center;
            margin-bottom: 5%;
        }
        .bt-navegacao {
            background-color: #2a5caa;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            font-size: 16px;
            font-family: "Catamaran", sans-serif;    
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            margin-left: 0px;			
        }
        .bt-avanca{
            position: relative;
            background-color: #2a5caa;
            border: none;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1rem;
            margin: 4px 2px 40px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    /**********/


/********** FOOTER **********/
#footer{
    height: 250px;
    text-align: center;

}
.bg-footer{
    background-image: url("../imagens/bg_footer.png");
	background-attachment: scroll;
	background-position: center top;
	background-repeat: no-repeat;
    background-size: cover;
}
footer section.main{
    position: relative;
    margin-top: -50px;
    min-height: 200px;
}
footer section.main div.content{
    padding-top: 0;
    position: absolute;
    bottom: 0;
}
footer section.main div.coluna-50{
    position: relative;
    float: left;
    padding: 0%;
    width: 50%;
    background-color: #FFF;
}
footer section.main div.coluna-50 img{
    width: 90%;
    margin: 5% 0%;
}
#footer hr {
    border: 0;
    border-bottom: solid 3px;
    border-bottom-color: gray;
}

/********** RESPONSIVIDADE **********/
@media screen and (max-width: 1680px) {

    html {
        
    }

}
@media screen and (max-width: 1280px) {

    html {
        
    }
    body {
        background-attachment: scroll;
        background-size: auto;
        background-position: top;
    }

}
@media screen and (max-width: 980px) {

    html {
        font-size: 12pt;
    }
    body:after {
        background-attachment: scroll;
        background-position: top;
        background-size: 150%;
    }
    .main{
        margin: 0 auto;
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;
		background-color: #fff;
        border-radius: 0;
    }
    .content {
        padding: 0;
    }
    #footer{
        padding: 1rem 0 0.1rem 0 ;
    }
}
@media screen and (max-width: 736px) {

    html {
        font-size: 12pt;
    }
    .titulo{
        margin: 0 0 1.5rem 0;
    }
    footer section.main{
        position: relative;
        margin-top: -50px;
        min-height: 0px;
    }
    footer section.main div.content{
        padding-top: 2%;
        position: relative;
        bottom: 0;
    }
    footer section.main div.coluna-50{
        position: relative;
        float: none;
        padding: 0%;
        width: 100%;
        background-color: #FFF;
    }
    footer section.main div.coluna-50 img{
        width: 50%;
        margin: 2% 0%;
    }
}
@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}